<div class="container-fluid main-div">
    <div class="row">
        <div class="col-md-6  padding-10">
            <a routerLink="/tms/reports">
                <span class="page-title">{{ "TMS_Reports" | translate }}</span>
            </a>
            <span class="page-title"> <i class="fa fa-chevron-right"></i></span>

            <span class="page-title  currentpage">{{ "TankerMovementReport" | translate }}</span>
        </div>

        <div class="col-md-6">

            <a (click)="onexportOrders()" class=" margin-5 pull-right" title="{{ 'ExportTankerMovements' | translate }}"
                (mouseenter)="mouseEnterExcel()" (mouseleave)="mouseLeaveExcel()">
                <img width="24px" *ngIf="!HoverExcel; else excelHover" src={{Excel_Img_Src}} />
                <ng-template #excelHover>
                    <img width="24px" src={{Excel_Img_Src}} />
                </ng-template>
            </a>
        </div>
    </div>
</div>
<div class="inner-div">
    <div class="row  form-row">
        <div class="col-md-12 custome-dropdown">
            <div class="col-md-2">
                <input class="form-control" [(ngModel)]="SearchCriteria.OrderNumber" (keyup.enter)="onSearchSubmit()"
                    placeholder="{{ 'OrderNo' | translate }}">

                <!-- <a class="mr-2 ml-2 link-route" (click)="showAdvanced()">
                    {{advancedDiv? ("HideAdvancedSearch" | translate): ("AdvancedSearch" | translate)}}
                </a> -->
            </div>

            <div class="col-md-2">
                <input class="form-control" [(ngModel)]="SearchCriteria.Vehicle" (keyup.enter)="onSearchSubmit()"
                    placeholder="{{ 'Vehicle' | translate }}">
            </div>

            <div class="col-md-2">
                <input class="form-control" [(ngModel)]="SearchCriteria.Driver" (keyup.enter)="onSearchSubmit()"
                    placeholder="{{ 'Driver' | translate }}">
            </div>

            <div class="col-md-2">
                <a class="mr-2 ml-2 link-route" (click)="showAdvanced()">
                    {{advancedDiv? ("HideAdvancedSearch" | translate): ("AdvancedSearch" | translate)}}
                </a>

            </div>



            <button class="btn btn-default margin-5 pull-right" (click)="clearSearch()">
                {{ "Clear" | translate }}
            </button>
            <button class="btn btn-danger margin-5 pull-right" (click)="onSearchSubmit()">
                {{ "Search" | translate }}
            </button>
        </div>
    </div>
    <!-- Start Advanced Search box -->
    <div [hidden]="!advancedDiv" id="advanced-search">
        <!--row 1 -->
        <div class="row form-row">
            <!-- Area -->
            <div class="col-md-3">
                <label class="col-sm-4 title">{{ "Area" | translate }} </label>
                <div class="col-sm-8">
                    <select-menu [label]="'Name'" [itemKey]="'Id'" [dropDownListInputs]="customerAreaList"
                        (SearchVAlue)="getAreas($event)" (selectedListChange)="onAreaDDLChanged($event)"
                        [options]="selectMenuOptions" [selectedList]="bindingModel_Areas" [loading]="Area_loading">
                    </select-menu>
                </div>
            </div>

            <!-- city -->
            <div class="col-md-3">
                <label class="col-sm-4 title">{{ "City" | translate }}</label>
                <div class="col-sm-8">
                    <select-menu [label]="'Name'" [itemKey]="'Id'" [dropDownListInputs]="customerCityList"
                        (SearchVAlue)="getCity($event)" (selectedListChange)="onCityDDLChanged($event)"
                        [options]="selectMenuOptions" [selectedList]="bindingModel_Cities" [loading]="City_Loading">
                    </select-menu>
                </div>
            </div>

            <!-- station -->
            <div class="col-md-3">
                <label class="col-sm-4 title">{{ "Station" | translate }}</label>
                <div class="col-sm-8">
                    <select-menu [label]="'Name'" [itemKey]="'Id'" [dropDownListInputs]="customerStationList"
                        (SearchVAlue)="getStations($event)" (selectedListChange)="onStationDDLChanged($event)"
                        [options]="selectMenuOptions" [selectedList]="bindingModel_Stations"
                        [loading]="Station_Loading">
                    </select-menu>
                </div>
            </div>
        </div>
        <!-- row 2-->
        <div class="row form-row">
            <!-- Service type-->
            <div class="col-md-3">
                <label class="col-sm-4 title">{{ "ServiceType" | translate }}</label>
                <div class="col-sm-8">
                    <select-menu [label]="'Name'" [itemKey]="'Id'" [dropDownListInputs]="customerServiceList"
                        (selectedListChange)="onServiceTypeDDLChanged($event)" [options]="selectMenuOptions"
                        [selectedList]="bindingModel_ServiceTypes">
                    </select-menu>
                </div>
            </div>
            <!-- Date from -->
            <div class="col-md-3">
                <label class="col-sm-4 title">{{ "From" | translate }}</label>
                <div class="col-sm-8">
                    <app-datepicker [(selecteddate)]="SearchCriteria.DateTimeFrom" DateID="dateFrom"></app-datepicker>
                    <!-- <datePicker-gregorian-hijri [(selectedDate)]="SearchCriteria.DateTimeFrom"></datePicker-gregorian-hijri> -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-sm-8 padding-0">
                    <app-amazing-timepicker id="timeFrom" [(selectedTime)]="timeFromStr"></app-amazing-timepicker>
                </div>
            </div>
        </div>
        <!-- row 3 -->
        <div class="row form-row">
            <!-- Action Log Type -->
            <div class="col-md-3">
                <label class="col-sm-4 title">{{ "EventType" | translate }}</label>
                <div class="col-sm-8">
                    <select-menu [label]="'Name'" [itemKey]="'Id'" [dropDownListInputs]="ActionLogTypes"
                        (selectedListChange)="onActionLogTypeDDLChanged($event)" [options]="selectMenuOptions2"
                        [selectedList]="bindingModel_ActionLogTypes">
                    </select-menu>
                </div>
            </div>
            <!-- Date To -->
            <div class="col-md-3">
                <label class="col-sm-4 title">{{ "To" | translate }}</label>
                <div class="col-sm-8">
                    <app-datepicker [(selecteddate)]="SearchCriteria.DateTimeTo" DateID="dateTo"></app-datepicker>
                    <!-- <datePicker-gregorian-hijri [(selectedDate)]="SearchCriteria.DateTimeTo"></datePicker-gregorian-hijri> -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-sm-8 padding-0 ">
                    <app-amazing-timepicker id="timeTo" [(selectedTime)]="timeToStr"></app-amazing-timepicker>
                </div>
            </div>

        </div>


    </div>
    <!-- End Advanced Search box -->

    <!-- fixed header  -->
    <div [class]="advancedDiv ? 'table-advans' : 'table-heigh' + ' row'">
        <div class="col-md-12 scroll-x-table list-body">


            <table class="table   table-striped scrollable-table">
                <thead>
                    <tr>
                        <th class="wid130">{{'EventTime' | translate}}</th>
                        <th class="wid100">{{'EventType' | translate}} </th>
                        <th class="wid200">{{'vehicle' | translate}} </th>
                        <th class="wid100">{{'CapacityM' | translate}}<sup>3</sup> </th>
                        <th class="wid130">{{'Driver' | translate}} </th>
                        <th class="wid100">{{'DriverMobile' | translate}}</th>
                        <!-- <th class="wid130">{{'Area' | translate}}</th>
                        <th class="wid130">{{'City' | translate}}</th> -->
                        <th class="wid100">{{'Station' | translate}} </th>
                        <th class="wid100">{{'ServiceType' | translate}} </th>
                        <th class="wid100">{{'OrderNo' | translate}}</th>
                        <th class="wid200">{{'Class' | translate}} </th>

                    </tr>
                </thead>
                <tbody [class]="advancedDiv ? ' mini' : ' '">
                    <tr class="text-center  d-block p-2 font-4 " *ngIf="!searchResult.Result">
                        {{"NoDataFound" | translate}}
                    </tr>
                    <tr *ngFor="let item of searchResult.Result; let i = index">
                        <td class="wid130">
                            <date [date]="item.CreateTime" [ShowTime]="true" [TimeUnderDate]="true"></date>
                        </td>
                        <td class="wid100">
                            {{ (IsArabic ? item.LogTypeAr : item.LogTypeEn ) }}
                        </td>
                        <td class="wid200">
                            {{ item.VehicleCode}} |{{ item.VehiclePlateNo }}
                        </td>
                        <td class="wid100">
                            {{ item.VehicleCapacity }}
                        </td>

                        <td class="wid130">
                            {{ item.DriverName }}
                        </td>
                        <td class="wid100">
                            {{ item.DriverMobile }}
                        </td>

                        <td class="wid100">{{ item.VehicleStationName }}</td>

                        <td class="wid100">
                            {{ (IsArabic ? item.VehicleServiceTypeAR : item.VehicleServiceTypeEN ) }}
                        </td>
                        <td class="wid100"> {{ item.OrderNumber }} </td>
                        <td class="wid200">
                            {{ (IsArabic ? item.CustomerClassesAr : item.CustomerClassesEn ) }}
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <app-pagination-component [ItemsCount]="searchResult.TotalCount"
        [(PageSize)]="this.SearchCriteria.PageFilter.PageSize" [pageIndex]="this.SearchCriteria.PageFilter.PageIndex"
        (PageSizeChange)="onPageSizeChanged($event)" (pageNavigated)="onPageIndexChanged($event)">
    </app-pagination-component>
</div>