    
  
    .fa-plus {
      color: #41b143;
      display: inline-block;
      margin: 5px 10px;
      font-size: 13pt;
      cursor: pointer;
    }
  
    .fa-times {
      color: #d8272d;
      display: inline-block;
      margin: 5px 10px;
      font-size: 13pt;
      cursor: pointer;
    }
  .fa-file-download{
    color: #333;
    display: inline-block;
    margin: 5px 10px;
    font-size: 13pt;
    cursor: pointer;
  }
  
 
  