<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets async="true">
    <target xsi:type="Debugger" name="debug">
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <layout xsi:type="SimpleLayout"  text="${newline} ---------------------------- Logger : ${level} --------------------------------
                ${newline}${newline}  ${message}  ${newline}${newline}----------------------------------------------------------------------------${newline} ">
        </layout>
      </layout>
    </target>

    <!--Write events to a file with the date in the filename.-->
    <target xsi:type="File" name="fileDebugLog" fileName="${basedir}/logs/${shortdate}.Debug.log"
               layout="${longdate} ${uppercase:${level}} -- ${message} -- ${exception:tostring} ${newline}----------------------------------------------------------------------------${newline} " />
    <target xsi:type="File" name="fileInfoLog" fileName="${basedir}/logs/${shortdate}.Info.log"
                   layout="${longdate} ${uppercase:${level}} -- ${message} -- ${exception:tostring} ${newline}----------------------------------------------------------------------------${newline} " />

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger minlevel="Trace" name="*" writeTo="debug"></logger>
    <!--Uncomment this line to enable database target-->
    <!--<logger minlevel="Trace" name="*" writeTo="database"></logger>-->
    <logger level="Debug" name="*" writeTo="fileDebugLog"></logger>
    <logger level="Info" name="*" writeTo="fileInfoLog"></logger>
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>