<div class="container-fluid main-div bg-light">
  <div class="row">
    <div class="col-md-6 padding-10">
      <span class="page-title">{{ 'ControlPanel' | translate }}</span>
      <span class="page-title"><i class="fa fa-chevron-right"></i></span>

      <span class="page-title currentpage">{{ 'LandMarkTypes' | translate }}</span>
    </div>

    <div class="col-md-6 justify-content-end d-flex">
      <a
        *ngIf="
          pagePermission == 'Full Control' || pagePermission == 'Add and Edit'
        "
        routerLink="create"
        title="  {{ 'NewLandMarkType' | translate }}"
      >
        <i class="glyphicon glyphicon-plus-sign p-2"></i>
      </a>
    </div>
  </div>
</div>
<div class="inner-div">
  <!-- fixed header  -->
  <div [class]="advancedDiv ? 'table-advans' : 'table-heigh' + ' row'">
    <div class="col-md-12 scroll-x-table">
      <!--#region  table loading ********************************************** -->
      <div [ngClass]="tableLoading ? 'container-gif show' : 'container-gif'">
        <div class="uil-ring-css table-loader">
          <div></div>
        </div>
      </div>
      <!--#endregion  table loading -->

      <table class="table table-striped">
        <thead>
          <tr>

            <th class="wid100">{{ 'Name' | translate }}</th>
            <th class="wid130">{{ 'Icon' | translate }}</th>
            <th class="wid130">{{ 'Category' | translate }}</th>
            <th class="wid130">{{ 'Description' | translate }}</th>

            <th class="wid100"></th>
            <th class="wid130"></th>
          </tr>
        </thead>
        <tbody [class]="advancedDiv ? ' mini' : ' '">
          <tr class="text-center p-2 font-4" *ngIf="!items">
            <td colspan="13">
              {{ 'NoDataFound' | translate }}
            </td>
          </tr>
          <tr *ngFor="let item of items; let i = index">
            <td class="wid130">{{ item.name }}</td>
            <td class="wid100">{{ item.icon }}</td>
            <td class="wid130">{{ item.category }}</td>
            <td class="wid130">{{ item.description }}</td>
            <td class="wid130">
              <a class="btn btn-link" routerLink="[`create/${item.Id}`]">
                <i class="fas fa-pen"></i>
              </a>
            </td>
            <td class="wid130">
              <button class="btn btn-link" (click)="deleteItem(item.Id)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
