<ul class="ul_controlpanel">
  <li>
    <a [routerLink]="[ 'branch-management' ]"><img src="/assets/TMSBranding/styles/img/BM.png"><span>{{"BranchManagement" | translate}}</span></a>
  </li>
  <li>
    <a [routerLink]="[ 'city-settings' ]"><img src="/assets/TMSBranding/styles/img/BM.png"><span>{{"CitySettings" | translate}}</span></a>
  </li>
  <li>
    <a [routerLink]="[ 'landmark-types' ]"><img src="/assets/TMSBranding/styles/img/LM.png"><span>{{"LandmarkTypes" | translate}}</span></a>
  </li>

  <li>
    <a [routerLink]="[ 'vehicle-brand' ]"><img src="/assets/TMSBranding/styles/img/car.png"><span>{{"VehicleBrand" | translate}}</span></a>
  </li>
  <li>
    <a [routerLink]="[ 'vehicle-model' ]"><img src="/assets/TMSBranding/styles/img/car.png"><span>{{"VehicleModel" | translate}}</span></a>
  </li>

  <li>
    <a [routerLink]="[ 'vehicle-types' ]"><img src="/assets/TMSBranding/styles/img/car.png"><span>{{"VehicleTypes" | translate}}</span></a>
  </li>
  <li>
    <a [routerLink]="[ 'staff-role' ]"><img src="/assets/TMSBranding/styles/img/staff.png"><span>{{"StaffRoles" | translate}}</span></a>
  </li>
  <li>
    <a [routerLink]="[ 'users-list' ]"><img src="/assets/TMSBranding/styles/img/UserM.png"><span>{{"UsersManagement" | translate}}</span></a>
  </li>
  <!-- <li>
      <a [routerLink]="[ '/' ]"><img src="/assets/TMSBranding/styles/img/Notification.png"><span>{{"Notifications" | translate}}</span></a>
  </li>

  <li>
      <a [routerLink]="[ '/' ]"><img src="/assets/TMSBranding/styles/img/UserM.png"><span>{{"AdminSetting" | translate}}</span></a>
  </li>
    <li>
      <a [routerLink]="[ '/' ]"><img src="/assets/TMSBranding/styles/img/UserM.png"><span>{{"SubscriberProfile" | translate}}</span></a>
  </li>

  <li>
      <a [routerLink]="[ '/' ]"><img src="/assets/TMSBranding/styles/img/OperationManagment.png"><span>{{"OperationManagement" | translate}}</span></a>
  </li>
  <li>
      <a [routerLink]="[ '/' ]"><img src="/assets/TMSBranding/styles/img/maintenance.png"><span>{{"Maintenance" | translate}}</span></a>
  </li>

  <li>
      <a [routerLink]="[ '/' ]"><img src="/assets/TMSBranding/styles/img/mail.png"><span>{{"EmailLogs" | translate}}</span></a>
  </li>

    <li>
      <a [routerLink]="[ 'insurance-companies' ]"><img src="/assets/TMSBranding/styles/img/insurance.png"><span>{{"InsuranceCompanies" | translate}}</span></a>
  </li>

    <li>
      <a [routerLink]="[ '/' ]"><img src="/assets/TMSBranding/styles/img/copyright.svg" style="width: 56px;"><span>{{"CopyRights" | translate}}</span></a>
  </li> -->

  <li>
    <a [routerLink]="[ 'station-settings' ]"><img src="/assets/TMSBranding/styles/img/car.png"><span>{{"StationsSettings" | translate}}</span></a>
  </li>

  <li>
    <a [routerLink]="['vehicle-settings']"><img src="/assets/TMSBranding/styles/img/car.png"><span>{{"VehiclesSettings" | translate}}</span></a>
  </li>

  <li>
    <a [routerLink]="[ 'user-landmark-permission' ]"><img src="/assets/TMSBranding/styles/img/StaffRole.png"><span>{{"UserStationPermission" | translate}} </span></a>
  </li>
  <li>
    <a  routerLink="/tms/contract/violationapproval/add"><img src="/assets/TMSBranding/styles/img/StaffRole.png"><span>{{"NewViolation" | translate}} </span></a>
  </li>
</ul>
