
<CustomElements>
  <path path="E:\Work\Softec\Projects\NWC\Publish\LogsPath\NewLog\Log.txt" enabled="true" timeFormat="G"/>
  <logFile path="E:\Work\Softec\Projects\NWC\Publish\LogsPath\NewLog\Log.txt" enabled="true" timeFormat="G"/>
  <traceFile path="E:\Work\Softec\Projects\NWC\Publish\LogsPath\NewLog\Trace.txt" enabled="true" timeFormat="MM/dd/yyyy hh:mm:ss.fff tt"/>
</CustomElements>