.btn-report {
    background-color: #f7f7f7;
    color: black;
    width: 100%;
    text-align: start;
}

// .btn-report :hover {
//     background-color: green;
//     color: white;
// }

.btn-report > i{
    font-size: x-large;
}

.btn-report > span{
    font-size: medium;
}

