.wihteColor{
    color: white;
}
.addingArea{
    background-color: #eee;
    margin: 10px;
    padding: 10px;
}

.padding-0 {
    padding: 0;
}



.form-check {
    margin-bottom: 5px;

  .form-check-label {
    margin: 0 5px;
    vertical-align: top;
  }
}

