<!-- Invoice Details -->
<div class="row">
    <div class="col-12">
        <!-- Invoice Details -->
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-2">
                        <h5 *ngIf="IsArabic">
                            هللة
                        </h5>
                        <h5 *ngIf="!IsArabic">
                            H
                        </h5>
                        <h6>
                            {{ floorReminder(this.violationInvoice.ValueWithVAT) }}
                        </h6>
                    </div>
                    <div class="col-10">
                        <h5 *ngIf="IsArabic">
                            ريال
                        </h5>
                        <h5 *ngIf="!IsArabic">
                            SR
                        </h5>
                        <h6>
                            {{ floor(this.violationInvoice.ValueWithVAT) }}
                        </h6>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <h5 *ngIf="IsArabic">
                    سدد غرامة
                </h5>
                <h5 *ngIf="!IsArabic">
                    Pay Violation
                </h5>
                <h6>
                    {{violationInvoice.InvoiceNo}}
                </h6>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <h5 *ngIf="IsArabic">
                            التاريخ
                            :
                            <span class="mx-4">
                                <date [date]="violationInvoice.CreatedDate"></date>
                            </span>
                        </h5>
                        <h5 *ngIf="!IsArabic">
                            Date
                            :
                            <span class="mx-4">
                                <date [date]="violationInvoice.CreatedDate"></date>
                            </span>
                        </h5>

                    </div>
                    <div class="col-12">
                        <h5 *ngIf="IsArabic">
                            الموافق
                            :
                            <span class="mx-2">
                                <datepicker-islamicumalqura [(selectedDate)]="violationInvoice.CreatedDate"
                                    [InputIsHijri]="false" [viewOnly]="true" class="d-inline-block">
                                </datepicker-islamicumalqura>


                            </span>
                        </h5>
                        <h5 *ngIf="!IsArabic">
                            Hijri
                            :
                            <span class="mx-2">
                                <datepicker-islamicumalqura [(selectedDate)]="violationInvoice.CreatedDate"
                                    [InputIsHijri]="false" [viewOnly]="true" class="d-inline-block">
                                </datepicker-islamicumalqura>


                            </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Invoice Person Details -->
<div class="row person_details" *ngFor="let item of detailsItems">
    <div class="col-2">
        <h5 *ngIf="IsArabic">
            {{ item.title }}
        </h5>
        <h5 *ngIf="!IsArabic">
            {{ item.titleEn }}
        </h5>
    </div>
    <div class="col-10">
        <h5>
            {{ item.content }}
        </h5>
    </div>
</div>

<!-- Signature -->
<div class="row mt-4 px-4 signature_details">
    <div class="col-12">
        <h5 *ngIf="IsArabic">
            التوقيع
        </h5>
        <h5 *ngIf="!IsArabic">
            Signature
        </h5>
        <h6>
            {{violationInvoice.CreatedByName}}
        </h6>
    </div>
</div>


<button class="btn btn-primary mt-4" (click)="printJS()">
    {{ "print" | translate }}
</button>


<!-- Print Wrapper -->
<div id="printSection" style="display: none;">
    <div class="container-fluid">
        <!-- Invoice Details -->
        <div class="row">
            <div class="col-12">
                <!-- Invoice Details -->
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-6">
                                <h5>
                                    H هللة
                                </h5>
                                <h6>
                                    {{ floorReminder(this.violationInvoice.ValueWithVAT) }}
                                </h6>
                            </div>
                            <div class="col-6">
                                <h5>
                                    SR ريال
                                </h5>
                                <h6>
                                    {{ floor(this.violationInvoice.ValueWithVAT) }}
                                </h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <h5>
                            سدد غرامة
                        </h5>
                        <h6>
                            {{violationInvoice.InvoiceNo}}
                        </h6>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12">
                                <h5>
                                    التاريخ
                                    :
                                    <span class="mx-4">
                                        <date [date]="violationInvoice.CreatedDate"></date>
                                    </span>
                                </h5>

                            </div>
                            <div class="col-12">
                                <h5>
                                    الموافق
                                    :
                                    <span class="mx-2">
                                        <datepicker-islamicumalqura [(selectedDate)]="violationInvoice.CreatedDate"
                                            [InputIsHijri]="false" [viewOnly]="true" class="d-inline-block">
                                        </datepicker-islamicumalqura>


                                    </span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Invoice Person Details -->
        <div class="row person_details" *ngFor="let item of detailsItems">
            <div class="col-2">
                <h5>
                    {{ item.title }}
                </h5>
            </div>
            <div class="col-8">
                <h5>
                    {{ item.content }}
                </h5>
            </div>
            <div class="col-2 text-direction-left">
                <h5>
                    {{ item.titleEn }}
                </h5>
            </div>
        </div>

        <!-- Signature -->
        <div class="row mt-4 px-4 signature_details">
            <div class="col-12">
                <h5>
                    التوقيع Signature
                </h5>
                <h6>
                    {{violationInvoice.CreatedByName}}
                </h6>
            </div>
        </div>
    </div>
</div>
<!-- Print Wrapper -->