<div class="row">
    <div class="w-20 p-2 d-flex flex-column  align-self-center justify-content-center">
        <img class="img" src="{{carImageUrl}}" alt="">
        <div class="font-10">{{'FSD_TotalTankers' | translate}} <br />{{'FSD_InStation' | translate}}</div>
        <div *ngIf="loading_totalTankers" class="text-center">
          <img class="loading-width" src={{ImageUrl}} />
        </div>
        <div *ngIf="!loading_totalTankers" class="text-center font-16 font-weight-bold">{{count_totalTankers}}</div>
    </div>
    
    <div class="w-20 p-2 d-flex flex-column  align-self-center justify-content-center">
      <img class="img" src="{{carImageUrl}}" alt="">
      <div class="font-10">{{'FSD_ResidentialTanker' | translate}} <br />{{'FSD_InStation' | translate}}</div>
      <div *ngIf="loading_residentialTankers" class="text-center">
        <img class="loading-width" src={{ImageUrl}} />
      </div>
      <div *ngIf="!loading_residentialTankers" class="text-center font-16 font-weight-bold">{{count_residentialTankers}}</div>
    </div>
  
    <div class="w-20 p-2 d-flex flex-column  align-self-center justify-content-center">
      <img class="img" src="{{carImageUrl}}" alt="">
      <div class="font-10">{{'FSD_CommercialTanker' | translate}} <br />{{'FSD_InStation' | translate}}</div>
      <div *ngIf="loading_commercialTankers" class="text-center">
        <img class="loading-width" src={{ImageUrl}} />
      </div>
      <div *ngIf="!loading_commercialTankers" class="text-center font-16 font-weight-bold">{{count_commercialTankers}}</div>
    </div>

    <div class="w-20 p-2 d-flex flex-column  align-self-center justify-content-center">
        <img class="img" src="{{carImageUrl}}" alt="">
        <div class="font-10">{{'FSD_GovernmentalTanker' | translate}} <br />{{'FSD_InStation' | translate}}</div>
        <div *ngIf="loading_governmentalTankers" class="text-center">
          <img class="loading-width" src={{ImageUrl}} />
        </div>
        <div *ngIf="!loading_governmentalTankers" class="text-center font-16 font-weight-bold">{{count_governmentalTankers}}</div>
      </div>
  </div>