textarea {
    resize: none;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}


.bottom-btn {
  position: absolute;
    bottom: 0;
    width: 100%;
}