.scroll-x-table {
    table {
      th {
        color: #fff;
      }
  
      tbody {
        height: 281px;
        max-height: 375px;
      }
    }
  
    .table-loader {
      margin: 8% auto;
    }
  }
  
  .wid100 {
    width: 100px;
  }
  .wid70 {
    width: 70px;
  }
  
  .wid50 {
    width: 50px;
  }
  
  .wid130 {
    width: 130px;
  }
  
  .mt-1 {
    margin-top: 0.5rem;
  }
  
  .mb-1 {
    margin-bottom: 1rem;
  }
  
  .row {
    label {
      margin-top: 5px;
    }
  }
  