<div class="container-fluid main-div">
    <div class="row">
        <div class="col-md-6  padding-10">
            <a routerLink="/tms/reports">
                <span class="page-title">{{ "TMS_Reports" | translate }}</span>
            </a>
            <span class="page-title"> <i class="fa fa-chevron-right"></i></span>

            <span class="page-title  currentpage">{{ "TankerPerformanceReport" | translate }}</span>
        </div>

        <!-- <div class="col-md-6">

            <a (click)="onexportOrders()" class=" margin-5 pull-right" title="{{ 'ExportTankerPerformance' | translate }}"
                (mouseenter)="mouseEnterExcel()" (mouseleave)="mouseLeaveExcel()">
                <img width="24px" *ngIf="!HoverExcel; else excelHover" src={{Excel_Img_Src}} />
                <ng-template #excelHover>
                    <img width="24px" src={{Excel_Img_Src}} />
                </ng-template>
            </a>
        </div> -->
    </div>
</div>
<div class="inner-div">
    <!--row 1 -->
    <div class="row form-row">
        <!-- Area -->
        <div class="col-md-3">
            <label class="col-sm-4 title">{{ "Area" | translate }} </label>
            <div class="col-sm-8">
                <select-menu [label]="'Name'" [itemKey]="'Id'" [dropDownListInputs]="customerAreaList"
                    (SearchVAlue)="getAreas($event)" (selectedListChange)="onAreaDDLChanged($event)"
                    [options]="selectMenuOptions" [selectedList]="bindingModel_Areas" [loading]="Area_loading">
                </select-menu>
            </div>
        </div>
        

        <!-- city -->
        <div class="col-md-3">
            <label class="col-sm-4 title">{{ "City" | translate }}</label>
            <div class="col-sm-8">
                <select-menu [label]="'Name'" [itemKey]="'Id'" [dropDownListInputs]="customerCityList"
                    (SearchVAlue)="getCity($event)" (selectedListChange)="onCityDDLChanged($event)"
                    [options]="selectMenuOptions" [selectedList]="bindingModel_Cities" [loading]="City_Loading">
                </select-menu>
            </div>
        </div>

        <!-- station -->
        <div class="col-md-3">
            <label class="col-sm-4 title">{{ "Station" | translate }}</label>
            <div class="col-sm-8">
                <select-menu [label]="'Name'" [itemKey]="'Id'" [dropDownListInputs]="customerStationList"
                    (SearchVAlue)="getStations($event)" (selectedListChange)="onStationDDLChanged($event)"
                    [options]="selectMenuOptions" [selectedList]="bindingModel_Stations"
                    [loading]="Station_Loading">
                </select-menu>
            </div>
        </div>
    </div>

    <div class="row form-row">
        <!-- Date from -->
        <div class="col-md-4">
            <label class="col-sm-3 title">{{ "From" | translate }}</label>
            <div class="col-sm-6">
                <app-datepicker [(selecteddate)]="SearchCriteria.DateTimeFrom" DateID="dateFrom"></app-datepicker>
                <!-- <datePicker-gregorian-hijri [(selectedDate)]="SearchCriteria.DateTimeFrom"></datePicker-gregorian-hijri> -->
            </div>
            <div class="col-sm-3 padding-0">
                <app-amazing-timepicker id="timeFrom" [(selectedTime)]="timeFromStr"></app-amazing-timepicker>
            </div>
        </div>
        <!-- Date To -->
        <div class="col-md-4 pl-4">
            <label class="col-sm-3 title">{{ "To" | translate }}</label>
            <div class="col-sm-6">
                <app-datepicker [(selecteddate)]="SearchCriteria.DateTimeTo" DateID="dateTo"></app-datepicker>
                <!-- <datePicker-gregorian-hijri [(selectedDate)]="SearchCriteria.DateTimeTo"></datePicker-gregorian-hijri> -->
            </div>
            <div class="col-sm-3 padding-0">
                <app-amazing-timepicker id="timeTo" [(selectedTime)]="timeToStr"></app-amazing-timepicker>
            </div>
        </div>
    </div>

    <div class="row form-row">
        <!-- Service type-->
        <div class="col-md-3">
            <label class="col-sm-4 title">{{ "ServiceType" | translate }}</label>
            <div class="col-sm-8">
                <select-menu [label]="'Name'" [itemKey]="'Id'" [dropDownListInputs]="customerServiceList"
                    (selectedListChange)="onServiceTypeDDLChanged($event)" [options]="selectMenuOptions"
                    [selectedList]="bindingModel_ServiceTypes">
                </select-menu>
            </div>
        </div>
        <!-- Vehicle Code-->
        <div class="col-md-3">
            <label class="col-sm-4 title">{{ "VehicleCode" | translate }}</label>
            <div class="col-sm-8">
                <input
                  class="form-control"
                  [(ngModel)]="SearchCriteria.VehicleCode"
                  (keyup.enter)="onSearchSubmit()"
                  placeholder="{{ 'VehicleCode' | translate }}"
                />
              </div>
            </div>

            <div class="col-md-3">
                <a
                  (click)="onexportOrders()"
                  class="margin-5 pull-right"
                  title="{{ 'ExportOrders' | translate }}"
                  (mouseenter)="mouseEnterExcel()"
                  (mouseleave)="mouseLeaveExcel()"
                >
                    <img
                      width="24px"
                      *ngIf="!HoverExcel; else excelHover"
                      src="{{ Excel_Img_Src }}"
                    />
                    <ng-template #excelHover>
                      <img width="24px" src="{{ Excel_Img_Src }}" />
                    </ng-template>
                </a>
                <button class="btn btn-default margin-5 pull-right" (click)="clearSearch()">
                    {{ "Clear" | translate }}
                </button>
                <button class="btn btn-danger margin-5 pull-right" (click)="onSearchSubmit()">
                    {{ "Search" | translate }}
                </button>
            </div>
        </div>
    <!-- End Advanced Search box -->

    <!-- fixed header  -->
    <div [class]="advancedDiv ? 'table-advans' : 'table-heigh' + ' row'">
        <div class="col-md-12 scroll-x-table list-body">


            <table class="table   table-striped scrollable-table">
                <thead>
                    <tr>
                        <th class="wid100">{{'Code' | translate}} | {{'PlateNo' | translate}}</th>
                        <th class="text-center wid50">{{'Driver' | translate}} </th>
                        <th class="text-center wid50">{{'Station' | translate}} </th>
                        <th class="text-center wid50">{{'CapacityM' | translate}}<sup>3</sup> </th>
                        <th class="text-center wid50">{{'TotalExitTripsCount' | translate}} </th>
                        <th class="text-center wid50">{{'TotalDeliveredOrdersCount' | translate}} </th>
                        <th class="text-center wid50">{{'ResidentialDeliveredOrdersCount' | translate}} </th>
                        <th class="text-center wid50">{{'CommercialDeliveredOrdersCount' | translate}}</th>
                        <th class="text-center wid50">{{'ViolationsCount' | translate}} </th>
                        <th class="text-center wid50">{{'PaidViolationsCount' | translate}}</th>
                        <th class="text-center wid50">{{'UnPaidViolationsCount' | translate}}</th>
                        <th class="text-center wid50">{{'ClosedByCodeOrdersCount' | translate}}</th>
                        <th class="text-center wid50">{{'ClosedByCodeOrdersPercentage' | translate}}</th>
                        <th class="text-center wid50">{{'Status' | translate}} </th>
                    </tr>
                </thead>
                <tbody [class]="advancedDiv ? ' mini' : ' '">
                    <tr class="text-center  d-block p-2 font-4 " *ngIf="!searchResult.Result">
                        {{"NoDataFound" | translate}}
                    </tr>
                    <tr *ngFor="let item of searchResult.Result; let i = index">
                        <td class="wid100">{{item.Code}} | {{ item.PlateNumber }}</td>
                        <td class="text-center wid50">{{item.DriverNames}}</td>
                        <td class="text-center wid50">{{item.StationName}}</td>
                        <td class="text-center wid50">{{item.Capacity}}</td>
                        <td class="text-center wid50">{{item.TotalExitTripsCount}}</td>
                        <td class="text-center wid50">{{item.TotalDeliveredOrdersCount}}</td>
                        <td class="text-center wid50">{{item.ResidentialDeliveredOrdersCount}}</td>
                        <td class="text-center wid50">{{item.CommercialDeliveredOrdersCount}}</td>
                        <td class="text-center wid50">{{item.ViolationsCount}}</td>
                        <td class="text-center wid50">{{item.PaidViolationsCount}}</td>
                        <td class="text-center wid50">{{item.UnPaidViolationsCount}}</td>
                        <td class="text-center wid50">{{item.ClosedByCodeOrdersCount}}</td>
                        <td class="text-center wid50">{{item.ClosedByCodeOrdersPercentage | percent}}</td>
                        <td class="text-center wid50">{{item.StatusName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <app-pagination-component [ItemsCount]="searchResult.TotalCount"
        [(PageSize)]="this.SearchCriteria.PageFilter.PageSize" [pageIndex]="this.SearchCriteria.PageFilter.PageIndex"
        (PageSizeChange)="onPageSizeChanged($event)" (pageNavigated)="onPageIndexChanged($event)">
    </app-pagination-component>
</div>